<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBS Digital - Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <p class="logo"><span>U</span>BS Digital</p>
        <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>   Painel de controle</a>
        <a href="#" class="icon-a"><i class="fa fa-users icons"></i>   Pacientes</a>
        <a href="#" class="icon-a"><i class="fa fa-list icons"></i>   Atendimentos</a>
        <a href="#" class="icon-a"><i class="fa fa-shopping-bag icons"></i>   Materiais hospitalares</a>
        <a href="#" class="icon-a"><i class="fa fa-tasks icons"></i>   Exames</a>
        <a href="#" class="icon-a"><i class="fa fa-user icons"></i>   Conta</a>
        <a href="#" class="icon-a"><i class="fa fa-list-alt icons"></i>   Papéis</a>
    </div>
    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >☰ Dashboard</span>
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >☰ Dashboard</span>
            </div>
            <div class="col-div-6">
                <div class="profile">
                    <p>Administrador <span>DBA</span></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <br/>
        <div class="col-div-3">
            <div class="box">
                <p>67<br/><span>Médicos</span></p>
                <i class="fa fa-users box-icon"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>88<br/><span>Atendimentos</span></p>
                <i class="fa fa-list box-icon"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>99<br/><span>Materiais hospitalares</span></p>
                <i class="fa fa-shopping-bag box-icon"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>78<br/><span>Exames</span></p>
                <i class="fa fa-tasks box-icon"></i>
            </div>
        </div>
        <div class="clearfix"></div>
        <br/><br/>
        <div class="col-div-8">
            <div class="box-8">
                <div class="content-box">
                    <p>Atendimentos diários <span>Inspecionar</span></p>
                    <br/>
                    <table>
                        <tr>
                            <th>Paciente</th>
                            <th>Diagnóstico</th>
                            <th>UBS Local</th>
                        </tr>
                        <tr>
                            <td>Edna Miranda Souvenir</td>
                            <td>AIDS</td>
                            <td>UBS Pinheiros</td>
                        </tr>
                        <tr>
                            <td>Romeu Francisco Pinto</td>
                            <td>Dengue</td>
                            <td>Alvorada I</td>
                        </tr>
                        <tr>
                            <td>Juliana Hemili Rosa</td>
                            <td>Infecção urinária</td>
                            <td>UBS Floriano</td>
                        </tr>
                        <tr>
                            <td>Gargamel Perez</td>
                            <td>Dor de Garganta</td>
                            <td>UBS Zona 7</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-div-4">
            <div class="box-4">
                <div class="content-box">
                    <p>Total de atendimentos por dia<span>Visualizar</span></p>
                    <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                            </div>
                            <div class="inside-circle"> 70% </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(".nav").click(function(){
            $("#mySidenav").css('width','70px');
            $("#main").css('margin-left','70px');
            $(".logo").css('visibility', 'hidden');
            $(".logo span").css('visibility', 'visible');
            $(".logo span").css('margin-left', '-10px');
            $(".icon-a").css('visibility', 'hidden');
            $(".icons").css('visibility', 'visible');
            $(".icons").css('margin-left', '-8px');
            $(".nav").css('display','none');
            $(".nav2").css('display','block');
        });

        $(".nav2").click(function(){
            $("#mySidenav").css('width','300px');
            $("#main").css('margin-left','300px');
            $(".logo").css('visibility', 'visible');
            $(".icon-a").css('visibility', 'visible');
            $(".icons").css('visibility', 'visible');
            $(".nav").css('display','block');
            $(".nav2").css('display','none');
        });
    </script>
</body>
</html>
